<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
     
    
  <div class="container">
   {{>navbar}}

    </div>
     
    <!--single product details-->
 <div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            
            <img src="img/t1.webp" alt="" width="170%" id="productimg">
            <div class="small-img-row">
            <div class="onee small-img-col">

            <img src="img/a1.webp" alt="" width="520%" class="small-img">
            </div>
            <div class="twoo small-img-col">

            <img src="img/a2.webp" alt="" width="520%" class="small-img">
            </div>
            <div class="three small-img-col">

            <img src="img/a3.jpg" alt="" width="520%" class="small-img">
            </div>
            <div class="fourr small-img-col" >

            <img src="img/a4.webp" alt="" width="520%" class="small-img">
            </div>
            </div>
        </div>
        <div class="col-5">
            <p>Home/T-shirt</p>
            <h1> Printed t-shirt by HRX</h1>
            <h4>$40.00</h4>
            <select >
                <option>Select size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>SMALL</option>
                <option>MEDIUM</option>

            </select>
            <input type="number" value="1">
            <button type="button" class="btn " data-bs-toggle="button" autocomplete="off">Add to cart <i class="fas fa-long-arrow-alt-right"></i> </button>
            <h3>Product details <i class="fa fa-indent"></i></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni temporibus obcaecati vel, repellendus quod saepe esse officia incidunt ipsa sit adipisci, dicta quia sequi fuga hic ipsam possimus soluta, omnis et. Eius neque facere hic quae at expedita ab quam.</p>
        </div>
    </div>
</div>

    

      <div class="small-container">
        <
          <div class="row">
              <div class="col-2">
                  <img src="img/t1.webp" alt="" height="300px">
                  <h4>Black printed T-shirt</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>$50.00</p>
              </div>
              <div class="col-2">
                <img src="img/t4.jpg" alt=""  height="300px">
                <h4>Black sassy watch</h4>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
                <p>$19.00</p>
            </div>
            <div class="col-2">
                <img src="img/t3.jpeg" alt="" height="300px">
                <h4>Black printed shoes</h4>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p>$150.00</p>
            </div>
            <div class="col-2">
                <img src="img/t2.webp" alt=""  height="300px">
                <h4>Red printed T-shirt</h4>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
                <p>$80.00</p>
            </div>
          </div>

    
      </div>
 
     

      

      <!--footer-->
      <div class="footer">
        <div class="row">
          <div class=" col-3">
            <h4>Download Our App</h4>
            <h5>Download app for android and ios</h5>

            <i class="fab fa-google-play fa-3x"></i>
            <i class="fab fa-apple-pay fa-4x"></i>
          </div>
          <div class=" col-3">
            <img src="img/GoSport (1).png" alt="" width="200px">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, quos.</p>
          </div>
          <div class="col-3">
            <h4>Useful Links</h4>
            <ul>
              <li>blog post</li>
              <li>teenjumper</li>
              <li>treands</li>
              <li>applications</li>
            </ul>
          </div>
          <div class="col-3">
            <h4>follow us on
      
            </h4>
            <ul>
              <li>Google</li>
              <li>instagram</li>
              <li>facebook</li>
              <li>twitter</li>
            </ul>
          </div>
        </div>
      </div>

      
      <script>
        var productimg=document.getElementById("productimg");
        var smallimg=document.getElementsByClassName("small-img");
        smallimg[0].onclick=function()
        {
          productimg.src=smallimg[0].src;
        }
        smallimg[1].onclick=function()
        {
          productimg.src=smallimg[1].src;
        }
        smallimg[2].onclick=function()
        {
          productimg.src=smallimg[2].src;
        }
        smallimg[3].onclick=function()
        {
          productimg.src=smallimg[3].src;
        }
      </script>


      </body>
</html>