<form id="loginform" action="/signin" method="POST" >
                           <!--  <input type="text" name="username" placeholder="username">-->
                             <input type="email" name="email" placeholder="email">
                             <input type="password" name="password" placeholder="password">

                        <!--    <button type="button" class="btn " data-bs-toggle="button" autocomplete="off" type="submit">Login <i class="fas fa-long-arrow-alt-right"></i> </button> -->
                        <input type="submit" class="btnRegister" value="Login"/>
                             <a href="">Forgot Password</a>
                         </form>